*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #d3e3ef;
    
}
/* .containar{
/* justify-content: center;
margin: 2px;
border: solid 2px black;
height: 400px;
width: 300px;
border-radius:10px ;
background-color: rgb(160, 203, 161);
left: 50%;
top: 50%;
transform: translate(50%, 50%);
} */



.containar{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .calculator{
    border: 2px black solid;
    height: 100px;
    width: 275px;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: rgb(168, 203, 235);
} */
.calculator{
    background-color: #bdd0df;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #cba4a4,
                      5px 5px 12px rgba(0, 0, 0, 0.323);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column:  span 4;
    height: 70px;
    width: 260px;
    background-color: #d3e3ef;
    box-shadow:  inset 5px 5px 5px #cba4a4,
                  5px  5px  5px rgba(0, 0, 0, 0.096);
    border: none;
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size:50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;

}
button{
    height: 48px;
    width: 48px;
    background-color: #bac6d0;
    box-shadow:  5px 5px 12px  #cba4a4,
                 5px 5px rgba(0, 0, 0, 0.051);
    border: none;    
    border-radius: 50%;
    margin: 8px; 
    font-size: 16px;       
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #d3e3ef;
    box-shadow: 5px 5px 12px  #cba4a4,
                5px 5px 5px rgba(0,0,0,.16);
}